* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-gray-is-hblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

}

body {
  background-color: var(--Cream);
  font-size: 14px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  margin: 0 auto;
  width: 40%;
  border-radius: 10px;
}

.img {
  width: 50%;
}

.img_product {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}

.descripcion {
  background-color: var(--White);
  padding: 20px;
  width: 50%;
  border-radius: 0 10px 10px 0;
  color: var(--Dark-gray-is-hblue);
}

.perfume {
  letter-spacing: 5px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  width: 90%;
  color: var(--Very-dark-blue);
  font-family: 'Fraunces', serif;
  font-size: 35px;
  line-height: 1em;
  margin: 20px 0;
}

.text {
  line-height: 25px;
  font-size: 18px;
}

.precios {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.precio {
  font-family: 'Fraunces', serif;
  font-size: 35px;
  color: var(--Dark-cyan);
}

.button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.car {
  padding-right: 8px;
}

@media (max-width: 1024px){
  .card{
    width: 55%;
  }
}

@media (max-width: 768px){
  .card{
    width: 70%;
  }
} 

  @media (max-width: 425px){

    .card {
      margin: 0 auto;
      width: 66%;
      border-radius: 10px;
      flex-direction: column;
    } 
    
    .img {
      width: 100%;
    }
    
    .img_product {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    
    .descripcion {
      background-color: var(--White);
      color: var(--Dark-gray-is-hblue);
      border-radius: 0 0 10px 10px;
      padding: 15px;
      margin-top: -4px;
      width: 100%;
    }
    
    .perfume {
      letter-spacing: 5px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
    }
    
    h1 {
      color: var(--Very-dark-blue);
      font-family: 'Fraunces', serif;
      line-height: 1em;
      margin: 15px 0 15px 0;
      font-size: 30px;
    }
    
    .text {
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      line-height: 25px;
    }
    
    .precios {
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
      margin: 15px 0;
    }
    
    .precio {
      font-family: 'Fraunces', serif;
      color: var(--Dark-cyan);
      font-size: 30px;
    }
    
    .button {
      background-color: var(--Dark-cyan);
      color: var(--White);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      width: 100%;
      height: 43px;
    }
    
    .car {
      padding-right: 8px;
    }
    }

    @media (max-width: 375px){
      .card{
        width: 75%;
      }
    }